In [1]:
import pandas as pd
data = pd.read_csv('test.csv')

In [2]:
data

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew
0,3001,"[{'id': 34055, 'name': 'Pokémon Collection', '...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.pokemon.com/us/movies/movie-pokemon...,tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,...,"[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",7/14/07,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de..."
1,3002,NaN,88000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,tt0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/19/58,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...","[{'cast_id': 2, 'character': 'Nancy Fowler Arc...","[{'credit_id': '55807805c3a3685b1300060b', 'de..."
2,3003,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/23/97,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Comedy About Lost Loves And Last Laughs,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...","[{'cast_id': 11, 'character': 'Maggie', 'credi...","[{'credit_id': '52fe4330c3a36847f8041367', 'de..."
3,3004,NaN,6800000,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",http://www.sonyclassics.com/incendies/,tt1255953,fr,Incendies,A mother's last wishes send twins Jeanne and S...,8.596012,...,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",9/4/10,130.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,The search began at the opening of their mothe...,Incendies,"[{'id': 378, 'name': 'prison'}, {'id': 539, 'n...","[{'cast_id': 6, 'character': 'Nawal', 'credit_...","[{'credit_id': '56478092c3a36826140043af', 'de..."
4,3005,NaN,2000000,"[{'id': 36, 'name': 'History'}, {'id': 99, 'na...",NaN,tt0418753,en,Inside Deep Throat,"In 1972, a seemingly typical shoestring budget...",3.217680,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2/11/05,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was filmed in 6 days for 25 thousand dollar...,Inside Deep Throat,"[{'id': 279, 'name': 'usa'}, {'id': 1228, 'nam...","[{'cast_id': 1, 'character': 'Narrator (voice)...","[{'credit_id': '52fe44ce9251416c75041967', 'de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4393,7394,NaN,42000000,"[{'id': 53, 'name': 'Thriller'}]",NaN,tt0218922,en,Original Sin,A young man is plunged into a life of subterfu...,9.970359,...,"[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",8/3/01,118.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,This is not a love story - it's a story about ...,Original Sin,"[{'id': 515, 'name': 'women'}, {'id': 572, 'na...","[{'cast_id': 17, 'character': 'Julia Russell/B...","[{'credit_id': '52fe4330c3a36847f80412db', 'de..."
4394,7395,"[{'id': 146534, 'name': 'Without a Paddle Coll...",19000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,tt0364751,en,Without a Paddle,"Three friends, whose lives have been drifting ...",6.046516,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",8/20/04,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The call of the wild, the thrill of adventure....",Without a Paddle,"[{'id': 4959, 'name': 'death of a friend'}, {'...","[{'cast_id': 40, 'character': 'Dan Mott', 'cre...","[{'credit_id': '52fe43b29251416c7501a909', 'de..."
4395,7396,NaN,16000000,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0084855,en,The Verdict,"Frank Galvin is a down-on-his luck lawyer, red...",9.596883,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",12/8/82,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The doctors want to settle, the Church wants t...",The Verdict,"[{'id': 1680, 'name': 'boston'}, {'id': 6148, ...","[{'cast_id': 1, 'character': 'Frank Galvin', '...","[{'credit_id': '52fe448bc3a368484e028c55', 'de..."
4396,7397,NaN,2000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,tt3235888,en,It Follows,"For 19-year-old Jay, fall should be about scho...",20.359336,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2/4/15,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"It doesn't think, it doesn't feel, it doesn't ...",It Follows,"[{'id': 3713, 'name': 'chase'}, {'id': 6152, '...","[{'cast_id': 1, 'character': 'Jay Height', 'cr...","[{'credit_id': '537770b20e0a261431002299', 'de..."
4397,7398,NaN,64000,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0056663,fr,Vivre sa vie: film en douze tableaux,Twelve episodic tales in the life of a Parisia...,11.305910,...,"[{'iso_3166_1': 'FR', 'name': 'France'}]",9/20/62,85.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,The many faces of a woman trying to find herse...,Vivre Sa Vie,"[{'id': 90, 'name': 'paris'}, {'id': 490, 'nam...","[{'cast_id': 8, 'character': 'Nana Kleinfranke...","[{'credit_id': '52fe4306c3a36847f80349a5', 'de..."

In [3]:
data.size

96756

In [4]:
data.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew'],
      dtype='object')

In [5]:
data.info

<bound method DataFrame.info of         id                              belongs_to_collection    budget  \
0     3001  [{'id': 34055, 'name': 'Pokémon Collection', '...         0
1     3002                                                NaN     88000
2     3003                                                NaN         0
3     3004                                                NaN   6800000
4     3005                                                NaN   2000000
...    ...                                                ...       ...
4393  7394                                                NaN  42000000
4394  7395  [{'id': 146534, 'name': 'Without a Paddle Coll...  19000000
4395  7396                                                NaN  16000000
4396  7397                                                NaN   2000000
4397  7398                                                NaN     64000

                                                 genres  \
0     [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...
1     [{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...
2     [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
3     [{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...
4     [{'id': 36, 'name': 'History'}, {'id': 99, 'na...
...                                                 ...
4393                   [{'id': 53, 'name': 'Thriller'}]
4394  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
4395                      [{'id': 18, 'name': 'Drama'}]
4396  [{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...
4397                      [{'id': 18, 'name': 'Drama'}]

                                               homepage    imdb_id  \
0     http://www.pokemon.com/us/movies/movie-pokemon...  tt1226251
1                                                   NaN  tt0051380
2                                                   NaN  tt0118556
3                http://www.sonyclassics.com/incendies/  tt1255953
4                                                   NaN  tt0418753
...                                                 ...        ...
4393                                                NaN  tt0218922
4394                                                NaN  tt0364751
4395                                                NaN  tt0084855
4396                                                NaN  tt3235888
4397                                                NaN  tt0056663

     original_language                        original_title  \
0                   ja                    ディアルガVSパルキアVSダークライ
1                   en           Attack of the 50 Foot Woman
2                   en                      Addicted to Love
3                   fr                             Incendies
4                   en                    Inside Deep Throat
...                ...                                   ...
4393                en                          Original Sin
4394                en                      Without a Paddle
4395                en                           The Verdict
4396                en                            It Follows
4397                fr  Vivre sa vie: film en douze tableaux

                                               overview  popularity  ...  \
0     Ash and friends (this time accompanied by newc...    3.851534  ...
1     When an abused wife grows to giant size becaus...    3.559789  ...
2     Good-natured astronomer Sam is devastated when...    8.085194  ...
3     A mother's last wishes send twins Jeanne and S...    8.596012  ...
4     In 1972, a seemingly typical shoestring budget...    3.217680  ...
...                                                 ...         ...  ...
4393  A young man is plunged into a life of subterfu...    9.970359  ...
4394  Three friends, whose lives have been drifting ...    6.046516  ...
4395  Frank Galvin is a down-on-his luck lawyer, red...    9.596883  ...
4396  For 19-year-old Jay, fall should be about scho...   20.359336  ...
4397  Twelve episodic tales in the life of a Parisia...   11.305910  ...

                                   production_countries release_date runtime  \
0     [{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...      7/14/07    90.0
1     [{'iso_3166_1': 'US', 'name': 'United States o...      5/19/58    65.0
2     [{'iso_3166_1': 'US', 'name': 'United States o...      5/23/97   100.0
3     [{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...       9/4/10   130.0
4     [{'iso_3166_1': 'US', 'name': 'United States o...      2/11/05    92.0
...                                                 ...          ...     ...
4393  [{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...       8/3/01   118.0
4394  [{'iso_3166_1': 'US', 'name': 'United States o...      8/20/04    95.0
4395  [{'iso_3166_1': 'US', 'name': 'United States o...      12/8/82   129.0
4396  [{'iso_3166_1': 'US', 'name': 'United States o...       2/4/15   100.0
4397           [{'iso_3166_1': 'FR', 'name': 'France'}]      9/20/62    85.0

                                       spoken_languages    status  \
0     [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
1              [{'iso_639_1': 'en', 'name': 'English'}]  Released
2              [{'iso_639_1': 'en', 'name': 'English'}]  Released
3     [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...  Released
4              [{'iso_639_1': 'en', 'name': 'English'}]  Released
...                                                 ...       ...
4393  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
4394           [{'iso_639_1': 'en', 'name': 'English'}]  Released
4395           [{'iso_639_1': 'en', 'name': 'English'}]  Released
4396           [{'iso_639_1': 'en', 'name': 'English'}]  Released
4397          [{'iso_639_1': 'fr', 'name': 'Français'}]  Released

                                                tagline  \
0     Somewhere Between Time & Space... A Legend Is ...
1     A titanic beauty spreads a macabre wave of hor...
2             A Comedy About Lost Loves And Last Laughs
3     The search began at the opening of their mothe...
4     It was filmed in 6 days for 25 thousand dollar...
...                                                 ...
4393  This is not a love story - it's a story about ...
4394  The call of the wild, the thrill of adventure....
4395  The doctors want to settle, the Church wants t...
4396  It doesn't think, it doesn't feel, it doesn't ...
4397  The many faces of a woman trying to find herse...

                             title  \
0     Pokémon: The Rise of Darkrai
1      Attack of the 50 Foot Woman
2                 Addicted to Love
3                        Incendies
4               Inside Deep Throat
...                            ...
4393                  Original Sin
4394              Without a Paddle
4395                   The Verdict
4396                    It Follows
4397                  Vivre Sa Vie

                                               Keywords  \
0     [{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...
1     [{'id': 9748, 'name': 'revenge'}, {'id': 9951,...
2     [{'id': 931, 'name': 'jealousy'}, {'id': 9673,...
3     [{'id': 378, 'name': 'prison'}, {'id': 539, 'n...
4     [{'id': 279, 'name': 'usa'}, {'id': 1228, 'nam...
...                                                 ...
4393  [{'id': 515, 'name': 'women'}, {'id': 572, 'na...
4394  [{'id': 4959, 'name': 'death of a friend'}, {'...
4395  [{'id': 1680, 'name': 'boston'}, {'id': 6148, ...
4396  [{'id': 3713, 'name': 'chase'}, {'id': 6152, '...
4397  [{'id': 90, 'name': 'paris'}, {'id': 490, 'nam...

                                                   cast  \
0     [{'cast_id': 3, 'character': 'Tonio', 'credit_...
1     [{'cast_id': 2, 'character': 'Nancy Fowler Arc...
2     [{'cast_id': 11, 'character': 'Maggie', 'credi...
3     [{'cast_id': 6, 'character': 'Nawal', 'credit_...
4     [{'cast_id': 1, 'character': 'Narrator (voice)...
...                                                 ...
4393  [{'cast_id': 17, 'character': 'Julia Russell/B...
4394  [{'cast_id': 40, 'character': 'Dan Mott', 'cre...
4395  [{'cast_id': 1, 'character': 'Frank Galvin', '...
4396  [{'cast_id': 1, 'character': 'Jay Height', 'cr...
4397  [{'cast_id': 8, 'character': 'Nana Kleinfranke...

                                                   crew
0     [{'credit_id': '52fe44e7c3a368484e03d683', 'de...
1     [{'credit_id': '55807805c3a3685b1300060b', 'de...
2     [{'credit_id': '52fe4330c3a36847f8041367', 'de...
3     [{'credit_id': '56478092c3a36826140043af', 'de...
4     [{'credit_id': '52fe44ce9251416c75041967', 'de...
...                                                 ...
4393  [{'credit_id': '52fe4330c3a36847f80412db', 'de...
4394  [{'credit_id': '52fe43b29251416c7501a909', 'de...
4395  [{'credit_id': '52fe448bc3a368484e028c55', 'de...
4396  [{'credit_id': '537770b20e0a261431002299', 'de...
4397  [{'credit_id': '52fe4306c3a36847f80349a5', 'de...

[4398 rows x 22 columns]>

In [6]:
data.describe

<bound method NDFrame.describe of         id                              belongs_to_collection    budget  \
0     3001  [{'id': 34055, 'name': 'Pokémon Collection', '...         0
1     3002                                                NaN     88000
2     3003                                                NaN         0
3     3004                                                NaN   6800000
4     3005                                                NaN   2000000
...    ...                                                ...       ...
4393  7394                                                NaN  42000000
4394  7395  [{'id': 146534, 'name': 'Without a Paddle Coll...  19000000
4395  7396                                                NaN  16000000
4396  7397                                                NaN   2000000
4397  7398                                                NaN     64000

                                                 genres  \
0     [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...
1     [{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...
2     [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
3     [{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...
4     [{'id': 36, 'name': 'History'}, {'id': 99, 'na...
...                                                 ...
4393                   [{'id': 53, 'name': 'Thriller'}]
4394  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
4395                      [{'id': 18, 'name': 'Drama'}]
4396  [{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...
4397                      [{'id': 18, 'name': 'Drama'}]

                                               homepage    imdb_id  \
0     http://www.pokemon.com/us/movies/movie-pokemon...  tt1226251
1                                                   NaN  tt0051380
2                                                   NaN  tt0118556
3                http://www.sonyclassics.com/incendies/  tt1255953
4                                                   NaN  tt0418753
...                                                 ...        ...
4393                                                NaN  tt0218922
4394                                                NaN  tt0364751
4395                                                NaN  tt0084855
4396                                                NaN  tt3235888
4397                                                NaN  tt0056663

     original_language                        original_title  \
0                   ja                    ディアルガVSパルキアVSダークライ
1                   en           Attack of the 50 Foot Woman
2                   en                      Addicted to Love
3                   fr                             Incendies
4                   en                    Inside Deep Throat
...                ...                                   ...
4393                en                          Original Sin
4394                en                      Without a Paddle
4395                en                           The Verdict
4396                en                            It Follows
4397                fr  Vivre sa vie: film en douze tableaux

                                               overview  popularity  ...  \
0     Ash and friends (this time accompanied by newc...    3.851534  ...
1     When an abused wife grows to giant size becaus...    3.559789  ...
2     Good-natured astronomer Sam is devastated when...    8.085194  ...
3     A mother's last wishes send twins Jeanne and S...    8.596012  ...
4     In 1972, a seemingly typical shoestring budget...    3.217680  ...
...                                                 ...         ...  ...
4393  A young man is plunged into a life of subterfu...    9.970359  ...
4394  Three friends, whose lives have been drifting ...    6.046516  ...
4395  Frank Galvin is a down-on-his luck lawyer, red...    9.596883  ...
4396  For 19-year-old Jay, fall should be about scho...   20.359336  ...
4397  Twelve episodic tales in the life of a Parisia...   11.305910  ...

                                   production_countries release_date runtime  \
0     [{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...      7/14/07    90.0
1     [{'iso_3166_1': 'US', 'name': 'United States o...      5/19/58    65.0
2     [{'iso_3166_1': 'US', 'name': 'United States o...      5/23/97   100.0
3     [{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...       9/4/10   130.0
4     [{'iso_3166_1': 'US', 'name': 'United States o...      2/11/05    92.0
...                                                 ...          ...     ...
4393  [{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...       8/3/01   118.0
4394  [{'iso_3166_1': 'US', 'name': 'United States o...      8/20/04    95.0
4395  [{'iso_3166_1': 'US', 'name': 'United States o...      12/8/82   129.0
4396  [{'iso_3166_1': 'US', 'name': 'United States o...       2/4/15   100.0
4397           [{'iso_3166_1': 'FR', 'name': 'France'}]      9/20/62    85.0

                                       spoken_languages    status  \
0     [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
1              [{'iso_639_1': 'en', 'name': 'English'}]  Released
2              [{'iso_639_1': 'en', 'name': 'English'}]  Released
3     [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...  Released
4              [{'iso_639_1': 'en', 'name': 'English'}]  Released
...                                                 ...       ...
4393  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
4394           [{'iso_639_1': 'en', 'name': 'English'}]  Released
4395           [{'iso_639_1': 'en', 'name': 'English'}]  Released
4396           [{'iso_639_1': 'en', 'name': 'English'}]  Released
4397          [{'iso_639_1': 'fr', 'name': 'Français'}]  Released

                                                tagline  \
0     Somewhere Between Time & Space... A Legend Is ...
1     A titanic beauty spreads a macabre wave of hor...
2             A Comedy About Lost Loves And Last Laughs
3     The search began at the opening of their mothe...
4     It was filmed in 6 days for 25 thousand dollar...
...                                                 ...
4393  This is not a love story - it's a story about ...
4394  The call of the wild, the thrill of adventure....
4395  The doctors want to settle, the Church wants t...
4396  It doesn't think, it doesn't feel, it doesn't ...
4397  The many faces of a woman trying to find herse...

                             title  \
0     Pokémon: The Rise of Darkrai
1      Attack of the 50 Foot Woman
2                 Addicted to Love
3                        Incendies
4               Inside Deep Throat
...                            ...
4393                  Original Sin
4394              Without a Paddle
4395                   The Verdict
4396                    It Follows
4397                  Vivre Sa Vie

                                               Keywords  \
0     [{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...
1     [{'id': 9748, 'name': 'revenge'}, {'id': 9951,...
2     [{'id': 931, 'name': 'jealousy'}, {'id': 9673,...
3     [{'id': 378, 'name': 'prison'}, {'id': 539, 'n...
4     [{'id': 279, 'name': 'usa'}, {'id': 1228, 'nam...
...                                                 ...
4393  [{'id': 515, 'name': 'women'}, {'id': 572, 'na...
4394  [{'id': 4959, 'name': 'death of a friend'}, {'...
4395  [{'id': 1680, 'name': 'boston'}, {'id': 6148, ...
4396  [{'id': 3713, 'name': 'chase'}, {'id': 6152, '...
4397  [{'id': 90, 'name': 'paris'}, {'id': 490, 'nam...

                                                   cast  \
0     [{'cast_id': 3, 'character': 'Tonio', 'credit_...
1     [{'cast_id': 2, 'character': 'Nancy Fowler Arc...
2     [{'cast_id': 11, 'character': 'Maggie', 'credi...
3     [{'cast_id': 6, 'character': 'Nawal', 'credit_...
4     [{'cast_id': 1, 'character': 'Narrator (voice)...
...                                                 ...
4393  [{'cast_id': 17, 'character': 'Julia Russell/B...
4394  [{'cast_id': 40, 'character': 'Dan Mott', 'cre...
4395  [{'cast_id': 1, 'character': 'Frank Galvin', '...
4396  [{'cast_id': 1, 'character': 'Jay Height', 'cr...
4397  [{'cast_id': 8, 'character': 'Nana Kleinfranke...

                                                   crew
0     [{'credit_id': '52fe44e7c3a368484e03d683', 'de...
1     [{'credit_id': '55807805c3a3685b1300060b', 'de...
2     [{'credit_id': '52fe4330c3a36847f8041367', 'de...
3     [{'credit_id': '56478092c3a36826140043af', 'de...
4     [{'credit_id': '52fe44ce9251416c75041967', 'de...
...                                                 ...
4393  [{'credit_id': '52fe4330c3a36847f80412db', 'de...
4394  [{'credit_id': '52fe43b29251416c7501a909', 'de...
4395  [{'credit_id': '52fe448bc3a368484e028c55', 'de...
4396  [{'credit_id': '537770b20e0a261431002299', 'de...
4397  [{'credit_id': '52fe4306c3a36847f80349a5', 'de...

[4398 rows x 22 columns]>

In [7]:
data.describe(include = 'object')

,belongs_to_collection,genres,homepage,imdb_id,original_language,original_title,overview,poster_path,production_companies,production_countries,release_date,spoken_languages,status,tagline,title,Keywords,cast,crew
count,877,4382,1420,4398,4398,4398,4384,4397,4140,4296,4397,4356,4396,3535,4395,4005,4385,4376
unique,556,1101,1402,4398,39,4353,4383,4397,3366,458,3289,526,3,3529,4342,3885,4365,4376
top,"[{'id': 645, 'name': 'James Bond Collection', ...","[{'id': 18, 'name': 'Drama'}]",http://www.thehungergames.movie/,tt1226251,en,Taxi,No overview found.,/tnftmLMemPLduW6MRyZE0ZUD19z.jpg,"[{'name': 'Paramount Pictures', 'id': 4}]","[{'iso_3166_1': 'US', 'name': 'United States o...",9/9/11,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What could go wrong?,Julia,"[{'id': 187056, 'name': 'woman director'}]",[],"[{'credit_id': '52fe44e7c3a368484e03d683', 'de..."
freq,10,348,3,1,3776,2,2,1,72,2587,7,2704,4389,2,2,30,21,1

In [8]:
duplicateRows = data[data.duplicated('budget')]

In [9]:
duplicateRows

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew
2,3003,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/23/97,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Comedy About Lost Loves And Last Laughs,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...","[{'cast_id': 11, 'character': 'Maggie', 'credi...","[{'credit_id': '52fe4330c3a36847f8041367', 'de..."
5,3006,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0120238,en,SubUrbia,A group of suburban teenagers try to support e...,8.679350,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2/7/96,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,SubUrbia,"[{'id': 10183, 'name': 'independent film'}]","[{'cast_id': 4, 'character': 'Pony', 'credit_i...","[{'credit_id': '52fe4576c3a368484e05c901', 'de..."
6,3007,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,tt1517177,de,Drei,Hanna and Simon are in a 20 year marriage with...,4.898882,...,"[{'iso_3166_1': 'DE', 'name': 'Germany'}]",12/23/10,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Imagine the possibilities.,Three,"[{'id': 572, 'name': 'sex'}, {'id': 154937, 'n...","[{'cast_id': 2, 'character': 'Hanna', 'credit_...","[{'credit_id': '52fe485bc3a36847f816358d', 'de..."
10,3011,NaN,2000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",NaN,tt0419663,en,Cruel World,Millions witnessed Philip Markham's public hum...,0.262437,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",9/1/05,88.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}, {'iso...",Released,When You Get Voted Off This Reality Show... It...,Cruel World,"[{'id': 2136, 'name': 'television'}, {'id': 30...","[{'cast_id': 1, 'character': 'Philip Markham',...","[{'credit_id': '52fe4680c3a36847f81028a9', 'de..."
11,3012,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt3655522,fr,Bande de filles,"Oppressed by her family setting, dead-end scho...",4.220318,...,"[{'iso_3166_1': 'FR', 'name': 'France'}]",6/27/14,112.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Girlhood,"[{'id': 12990, 'name': 'singing'}, {'id': 1465...","[{'cast_id': 5, 'character': 'Marieme, alias V...","[{'credit_id': '53567267c3a36841d6002424', 'de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4392,7393,"[{'id': 528, 'name': 'The Terminator Collectio...",155000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://www.terminatormovie.com/,tt1340138,en,Terminator Genisys,"The year is 2029. John Connor, leader of the r...",30.188198,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",6/23/15,126.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Reset the future,Terminator Genisys,"[{'id': 83, 'name': 'saving the world'}, {'id'...","[{'cast_id': 1, 'character': 'The Terminator',...","[{'credit_id': '5605f91d925141306000071e', 'de..."
4393,7394,NaN,42000000,"[{'id': 53, 'name': 'Thriller'}]",NaN,tt0218922,en,Original Sin,A young man is plunged into a life of subterfu...,9.970359,...,"[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",8/3/01,118.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,This is not a love story - it's a story about ...,Original Sin,"[{'id': 515, 'name': 'women'}, {'id': 572, 'na...","[{'cast_id': 17, 'character': 'Julia Russell/B...","[{'credit_id': '52fe4330c3a36847f80412db', 'de..."
4394,7395,"[{'id': 146534, 'name': 'Without a Paddle Coll...",19000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,tt0364751,en,Without a Paddle,"Three friends, whose lives have been drifting ...",6.046516,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",8/20/04,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The call of the wild, the thrill of adventure....",Without a Paddle,"[{'id': 4959, 'name': 'death of a friend'}, {'...","[{'cast_id': 40, 'character': 'Dan Mott', 'cre...","[{'credit_id': '52fe43b29251416c7501a909', 'de..."
4395,7396,NaN,16000000,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0084855,en,The Verdict,"Frank Galvin is a down-on-his luck lawyer, red...",9.596883,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",12/8/82,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The doctors want to settle, the Church wants t...",The Verdict,"[{'id': 1680, 'name': 'boston'}, {'id': 6148, ...","[{'cast_id': 1, 'character': 'Frank Galvin', '...","[{'credit_id': '52fe448bc3a368484e028c55', 'de..."
4396,7397,NaN,2000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,tt3235888,en,It Follows,"For 19-year-old Jay, fall should be about scho...",20.359336,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2/4/15,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"It doesn't think, it doesn't feel, it doesn't ...",It Follows,"[{'id': 3713, 'name': 'chase'}, {'id': 6152, '...","[{'cast_id': 1, 'character': 'Jay Height', 'cr...","[{'credit_id': '537770b20e0a261431002299', 'de..."

In [10]:
data.head

<bound method NDFrame.head of         id                              belongs_to_collection    budget  \
0     3001  [{'id': 34055, 'name': 'Pokémon Collection', '...         0
1     3002                                                NaN     88000
2     3003                                                NaN         0
3     3004                                                NaN   6800000
4     3005                                                NaN   2000000
...    ...                                                ...       ...
4393  7394                                                NaN  42000000
4394  7395  [{'id': 146534, 'name': 'Without a Paddle Coll...  19000000
4395  7396                                                NaN  16000000
4396  7397                                                NaN   2000000
4397  7398                                                NaN     64000

                                                 genres  \
0     [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...
1     [{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...
2     [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
3     [{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...
4     [{'id': 36, 'name': 'History'}, {'id': 99, 'na...
...                                                 ...
4393                   [{'id': 53, 'name': 'Thriller'}]
4394  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
4395                      [{'id': 18, 'name': 'Drama'}]
4396  [{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...
4397                      [{'id': 18, 'name': 'Drama'}]

                                               homepage    imdb_id  \
0     http://www.pokemon.com/us/movies/movie-pokemon...  tt1226251
1                                                   NaN  tt0051380
2                                                   NaN  tt0118556
3                http://www.sonyclassics.com/incendies/  tt1255953
4                                                   NaN  tt0418753
...                                                 ...        ...
4393                                                NaN  tt0218922
4394                                                NaN  tt0364751
4395                                                NaN  tt0084855
4396                                                NaN  tt3235888
4397                                                NaN  tt0056663

     original_language                        original_title  \
0                   ja                    ディアルガVSパルキアVSダークライ
1                   en           Attack of the 50 Foot Woman
2                   en                      Addicted to Love
3                   fr                             Incendies
4                   en                    Inside Deep Throat
...                ...                                   ...
4393                en                          Original Sin
4394                en                      Without a Paddle
4395                en                           The Verdict
4396                en                            It Follows
4397                fr  Vivre sa vie: film en douze tableaux

                                               overview  popularity  ...  \
0     Ash and friends (this time accompanied by newc...    3.851534  ...
1     When an abused wife grows to giant size becaus...    3.559789  ...
2     Good-natured astronomer Sam is devastated when...    8.085194  ...
3     A mother's last wishes send twins Jeanne and S...    8.596012  ...
4     In 1972, a seemingly typical shoestring budget...    3.217680  ...
...                                                 ...         ...  ...
4393  A young man is plunged into a life of subterfu...    9.970359  ...
4394  Three friends, whose lives have been drifting ...    6.046516  ...
4395  Frank Galvin is a down-on-his luck lawyer, red...    9.596883  ...
4396  For 19-year-old Jay, fall should be about scho...   20.359336  ...
4397  Twelve episodic tales in the life of a Parisia...   11.305910  ...

                                   production_countries release_date runtime  \
0     [{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...      7/14/07    90.0
1     [{'iso_3166_1': 'US', 'name': 'United States o...      5/19/58    65.0
2     [{'iso_3166_1': 'US', 'name': 'United States o...      5/23/97   100.0
3     [{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...       9/4/10   130.0
4     [{'iso_3166_1': 'US', 'name': 'United States o...      2/11/05    92.0
...                                                 ...          ...     ...
4393  [{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...       8/3/01   118.0
4394  [{'iso_3166_1': 'US', 'name': 'United States o...      8/20/04    95.0
4395  [{'iso_3166_1': 'US', 'name': 'United States o...      12/8/82   129.0
4396  [{'iso_3166_1': 'US', 'name': 'United States o...       2/4/15   100.0
4397           [{'iso_3166_1': 'FR', 'name': 'France'}]      9/20/62    85.0

                                       spoken_languages    status  \
0     [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
1              [{'iso_639_1': 'en', 'name': 'English'}]  Released
2              [{'iso_639_1': 'en', 'name': 'English'}]  Released
3     [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...  Released
4              [{'iso_639_1': 'en', 'name': 'English'}]  Released
...                                                 ...       ...
4393  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
4394           [{'iso_639_1': 'en', 'name': 'English'}]  Released
4395           [{'iso_639_1': 'en', 'name': 'English'}]  Released
4396           [{'iso_639_1': 'en', 'name': 'English'}]  Released
4397          [{'iso_639_1': 'fr', 'name': 'Français'}]  Released

                                                tagline  \
0     Somewhere Between Time & Space... A Legend Is ...
1     A titanic beauty spreads a macabre wave of hor...
2             A Comedy About Lost Loves And Last Laughs
3     The search began at the opening of their mothe...
4     It was filmed in 6 days for 25 thousand dollar...
...                                                 ...
4393  This is not a love story - it's a story about ...
4394  The call of the wild, the thrill of adventure....
4395  The doctors want to settle, the Church wants t...
4396  It doesn't think, it doesn't feel, it doesn't ...
4397  The many faces of a woman trying to find herse...

                             title  \
0     Pokémon: The Rise of Darkrai
1      Attack of the 50 Foot Woman
2                 Addicted to Love
3                        Incendies
4               Inside Deep Throat
...                            ...
4393                  Original Sin
4394              Without a Paddle
4395                   The Verdict
4396                    It Follows
4397                  Vivre Sa Vie

                                               Keywords  \
0     [{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...
1     [{'id': 9748, 'name': 'revenge'}, {'id': 9951,...
2     [{'id': 931, 'name': 'jealousy'}, {'id': 9673,...
3     [{'id': 378, 'name': 'prison'}, {'id': 539, 'n...
4     [{'id': 279, 'name': 'usa'}, {'id': 1228, 'nam...
...                                                 ...
4393  [{'id': 515, 'name': 'women'}, {'id': 572, 'na...
4394  [{'id': 4959, 'name': 'death of a friend'}, {'...
4395  [{'id': 1680, 'name': 'boston'}, {'id': 6148, ...
4396  [{'id': 3713, 'name': 'chase'}, {'id': 6152, '...
4397  [{'id': 90, 'name': 'paris'}, {'id': 490, 'nam...

                                                   cast  \
0     [{'cast_id': 3, 'character': 'Tonio', 'credit_...
1     [{'cast_id': 2, 'character': 'Nancy Fowler Arc...
2     [{'cast_id': 11, 'character': 'Maggie', 'credi...
3     [{'cast_id': 6, 'character': 'Nawal', 'credit_...
4     [{'cast_id': 1, 'character': 'Narrator (voice)...
...                                                 ...
4393  [{'cast_id': 17, 'character': 'Julia Russell/B...
4394  [{'cast_id': 40, 'character': 'Dan Mott', 'cre...
4395  [{'cast_id': 1, 'character': 'Frank Galvin', '...
4396  [{'cast_id': 1, 'character': 'Jay Height', 'cr...
4397  [{'cast_id': 8, 'character': 'Nana Kleinfranke...

                                                   crew
0     [{'credit_id': '52fe44e7c3a368484e03d683', 'de...
1     [{'credit_id': '55807805c3a3685b1300060b', 'de...
2     [{'credit_id': '52fe4330c3a36847f8041367', 'de...
3     [{'credit_id': '56478092c3a36826140043af', 'de...
4     [{'credit_id': '52fe44ce9251416c75041967', 'de...
...                                                 ...
4393  [{'credit_id': '52fe4330c3a36847f80412db', 'de...
4394  [{'credit_id': '52fe43b29251416c7501a909', 'de...
4395  [{'credit_id': '52fe448bc3a368484e028c55', 'de...
4396  [{'credit_id': '537770b20e0a261431002299', 'de...
4397  [{'credit_id': '52fe4306c3a36847f80349a5', 'de...

[4398 rows x 22 columns]>