In [2]:
import pandas as pd
data = pd.read_csv('train.csv')

In [3]:
data

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,4/22/94,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,3/28/13,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,10/11/96,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,1/16/04,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,9/22/11,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155

In [4]:
data.size

69000

In [5]:
data.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [6]:
data.info

<bound method DataFrame.info of         id                              belongs_to_collection    budget  \
0        1  [{'id': 313576, 'name': 'Hot Tub Time Machine ...  14000000
1        2  [{'id': 107674, 'name': 'The Princess Diaries ...  40000000
2        3                                                NaN   3300000
3        4                                                NaN   1200000
4        5                                                NaN         0
...    ...                                                ...       ...
2995  2996                                                NaN         0
2996  2997                                                NaN         0
2997  2998                                                NaN  65000000
2998  2999                                                NaN  42000000
2999  3000                                                NaN  35000000

                                                 genres  \
0                        [{'id': 35, 'name': 'Comedy'}]
1     [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
2                         [{'id': 18, 'name': 'Drama'}]
3     [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...
4     [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
...                                                 ...
2995  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
2996  [{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...
2997  [{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...
2998  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
2999  [{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...

                               homepage    imdb_id original_language  \
0                                   NaN  tt2637294                en
1                                   NaN  tt0368933                en
2     http://sonyclassics.com/whiplash/  tt2582802                en
3            http://kahaanithefilm.com/  tt1821480                hi
4                                   NaN  tt1380152                ko
...                                 ...        ...               ...
2995                                NaN  tt0109403                en
2996                                NaN  tt2364975                sv
2997                                NaN  tt0116908                en
2998     http://www.alongcamepolly.com/  tt0343135                en
2999   http://www.abductionthefilm.com/  tt1600195                en

                                original_title  \
0                       Hot Tub Time Machine 2
1     The Princess Diaries 2: Royal Engagement
2                                     Whiplash
3                                      Kahaani
4                                         마린보이
...                                        ...
2995                                   Chasers
2996                               Vi är bäst!
2997                   The Long Kiss Goodnight
2998                          Along Came Polly
2999                                 Abduction

                                               overview  popularity  ...  \
0     When Lou, who has become the "father of the In...    6.575393  ...
1     Mia Thermopolis is now a college graduate and ...    8.248895  ...
2     Under the direction of a ruthless instructor, ...   64.299990  ...
3     Vidya Bagchi (Vidya Balan) arrives in Kolkata ...    3.174936  ...
4     Marine Boy is the story of a former national s...    1.148070  ...
...                                                 ...         ...  ...
2995  Military men Rock Reilly and Eddie Devane are ...    9.853270  ...
2996  Three girls in 1980s Stockholm decide to form ...    3.727996  ...
2997  Samantha Caine, suburban homemaker, is the ide...   14.482345  ...
2998  Reuben Feffer is a guy who's spent his entire ...   15.725542  ...
2999  A young man sets out to uncover the truth abou...   10.512109  ...

     release_date runtime                                   spoken_languages  \
0         2/20/15    93.0           [{'iso_639_1': 'en', 'name': 'English'}]
1          8/6/04   113.0           [{'iso_639_1': 'en', 'name': 'English'}]
2        10/10/14   105.0           [{'iso_639_1': 'en', 'name': 'English'}]
3          3/9/12   122.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
4          2/5/09   118.0           [{'iso_639_1': 'ko', 'name': '한국어/조선말'}]
...           ...     ...                                                ...
2995      4/22/94   102.0           [{'iso_639_1': 'en', 'name': 'English'}]
2996      3/28/13   102.0           [{'iso_639_1': 'sv', 'name': 'svenska'}]
2997     10/11/96   120.0           [{'iso_639_1': 'en', 'name': 'English'}]
2998      1/16/04    90.0           [{'iso_639_1': 'en', 'name': 'English'}]
2999      9/22/11   106.0           [{'iso_639_1': 'en', 'name': 'English'}]

        status                                            tagline  \
0     Released  The Laws of Space and Time are About to be Vio...
1     Released  It can take a lifetime to find true love; she'...
2     Released    The road to greatness can take you to the edge.
3     Released                                                NaN
4     Released                                                NaN
...        ...                                                ...
2995  Released  It was supposed to be a routine prisoner trans...
2996  Released                                                NaN
2997  Released               What's forgotten is not always gone.
2998  Released  For the most cautious man on Earth, life is ab...
2999  Released          They stole his life. He's taking it back.

                                         title  \
0                       Hot Tub Time Machine 2
1     The Princess Diaries 2: Royal Engagement
2                                     Whiplash
3                                      Kahaani
4                                   Marine Boy
...                                        ...
2995                                   Chasers
2996                          We Are the Best!
2997                   The Long Kiss Goodnight
2998                          Along Came Polly
2999                                 Abduction

                                               Keywords  \
0     [{'id': 4379, 'name': 'time travel'}, {'id': 9...
1     [{'id': 2505, 'name': 'coronation'}, {'id': 42...
2     [{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...
3     [{'id': 10092, 'name': 'mystery'}, {'id': 1054...
4                                                   NaN
...                                                 ...
2995  [{'id': 378, 'name': 'prison'}, {'id': 572, 'n...
2996  [{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...
2997  [{'id': 441, 'name': 'assassination'}, {'id': ...
2998  [{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...
2999  [{'id': 591, 'name': 'cia'}, {'id': 822, 'name...

                                                   cast  \
0     [{'cast_id': 4, 'character': 'Lou', 'credit_id...
1     [{'cast_id': 1, 'character': 'Mia Thermopolis'...
2     [{'cast_id': 5, 'character': 'Andrew Neimann',...
3     [{'cast_id': 1, 'character': 'Vidya Bagchi', '...
4     [{'cast_id': 3, 'character': 'Chun-soo', 'cred...
...                                                 ...
2995  [{'cast_id': 2, 'character': 'Rock Reilly', 'c...
2996  [{'cast_id': 5, 'character': 'Bobo', 'credit_i...
2997  [{'cast_id': 10, 'character': 'Samantha Caine ...
2998  [{'cast_id': 8, 'character': 'Reuben Feffer', ...
2999  [{'cast_id': 2, 'character': 'Nathan Harper', ...

                                                   crew    revenue
0     [{'credit_id': '59ac067c92514107af02c8c8', 'de...   12314651
1     [{'credit_id': '52fe43fe9251416c7502563d', 'de...   95149435
2     [{'credit_id': '54d5356ec3a3683ba0000039', 'de...   13092000
3     [{'credit_id': '52fe48779251416c9108d6eb', 'de...   16000000
4     [{'credit_id': '52fe464b9251416c75073b43', 'de...    3923970
...                                                 ...        ...
2995  [{'credit_id': '52fe4494c3a368484e02ac7d', 'de...    1596687
2996  [{'credit_id': '5716b72ac3a3686678012c84', 'de...     180590
2997  [{'credit_id': '52fe443a9251416c7502d579', 'de...   89456761
2998  [{'credit_id': '556f817b9251410866000a63', 'de...  171963386
2999  [{'credit_id': '5391990d0e0a260fb5001629', 'de...   82087155

[3000 rows x 23 columns]>

In [7]:
data.describe

<bound method NDFrame.describe of         id                              belongs_to_collection    budget  \
0        1  [{'id': 313576, 'name': 'Hot Tub Time Machine ...  14000000
1        2  [{'id': 107674, 'name': 'The Princess Diaries ...  40000000
2        3                                                NaN   3300000
3        4                                                NaN   1200000
4        5                                                NaN         0
...    ...                                                ...       ...
2995  2996                                                NaN         0
2996  2997                                                NaN         0
2997  2998                                                NaN  65000000
2998  2999                                                NaN  42000000
2999  3000                                                NaN  35000000

                                                 genres  \
0                        [{'id': 35, 'name': 'Comedy'}]
1     [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
2                         [{'id': 18, 'name': 'Drama'}]
3     [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...
4     [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
...                                                 ...
2995  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
2996  [{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...
2997  [{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...
2998  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
2999  [{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...

                               homepage    imdb_id original_language  \
0                                   NaN  tt2637294                en
1                                   NaN  tt0368933                en
2     http://sonyclassics.com/whiplash/  tt2582802                en
3            http://kahaanithefilm.com/  tt1821480                hi
4                                   NaN  tt1380152                ko
...                                 ...        ...               ...
2995                                NaN  tt0109403                en
2996                                NaN  tt2364975                sv
2997                                NaN  tt0116908                en
2998     http://www.alongcamepolly.com/  tt0343135                en
2999   http://www.abductionthefilm.com/  tt1600195                en

                                original_title  \
0                       Hot Tub Time Machine 2
1     The Princess Diaries 2: Royal Engagement
2                                     Whiplash
3                                      Kahaani
4                                         마린보이
...                                        ...
2995                                   Chasers
2996                               Vi är bäst!
2997                   The Long Kiss Goodnight
2998                          Along Came Polly
2999                                 Abduction

                                               overview  popularity  ...  \
0     When Lou, who has become the "father of the In...    6.575393  ...
1     Mia Thermopolis is now a college graduate and ...    8.248895  ...
2     Under the direction of a ruthless instructor, ...   64.299990  ...
3     Vidya Bagchi (Vidya Balan) arrives in Kolkata ...    3.174936  ...
4     Marine Boy is the story of a former national s...    1.148070  ...
...                                                 ...         ...  ...
2995  Military men Rock Reilly and Eddie Devane are ...    9.853270  ...
2996  Three girls in 1980s Stockholm decide to form ...    3.727996  ...
2997  Samantha Caine, suburban homemaker, is the ide...   14.482345  ...
2998  Reuben Feffer is a guy who's spent his entire ...   15.725542  ...
2999  A young man sets out to uncover the truth abou...   10.512109  ...

     release_date runtime                                   spoken_languages  \
0         2/20/15    93.0           [{'iso_639_1': 'en', 'name': 'English'}]
1          8/6/04   113.0           [{'iso_639_1': 'en', 'name': 'English'}]
2        10/10/14   105.0           [{'iso_639_1': 'en', 'name': 'English'}]
3          3/9/12   122.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
4          2/5/09   118.0           [{'iso_639_1': 'ko', 'name': '한국어/조선말'}]
...           ...     ...                                                ...
2995      4/22/94   102.0           [{'iso_639_1': 'en', 'name': 'English'}]
2996      3/28/13   102.0           [{'iso_639_1': 'sv', 'name': 'svenska'}]
2997     10/11/96   120.0           [{'iso_639_1': 'en', 'name': 'English'}]
2998      1/16/04    90.0           [{'iso_639_1': 'en', 'name': 'English'}]
2999      9/22/11   106.0           [{'iso_639_1': 'en', 'name': 'English'}]

        status                                            tagline  \
0     Released  The Laws of Space and Time are About to be Vio...
1     Released  It can take a lifetime to find true love; she'...
2     Released    The road to greatness can take you to the edge.
3     Released                                                NaN
4     Released                                                NaN
...        ...                                                ...
2995  Released  It was supposed to be a routine prisoner trans...
2996  Released                                                NaN
2997  Released               What's forgotten is not always gone.
2998  Released  For the most cautious man on Earth, life is ab...
2999  Released          They stole his life. He's taking it back.

                                         title  \
0                       Hot Tub Time Machine 2
1     The Princess Diaries 2: Royal Engagement
2                                     Whiplash
3                                      Kahaani
4                                   Marine Boy
...                                        ...
2995                                   Chasers
2996                          We Are the Best!
2997                   The Long Kiss Goodnight
2998                          Along Came Polly
2999                                 Abduction

                                               Keywords  \
0     [{'id': 4379, 'name': 'time travel'}, {'id': 9...
1     [{'id': 2505, 'name': 'coronation'}, {'id': 42...
2     [{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...
3     [{'id': 10092, 'name': 'mystery'}, {'id': 1054...
4                                                   NaN
...                                                 ...
2995  [{'id': 378, 'name': 'prison'}, {'id': 572, 'n...
2996  [{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...
2997  [{'id': 441, 'name': 'assassination'}, {'id': ...
2998  [{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...
2999  [{'id': 591, 'name': 'cia'}, {'id': 822, 'name...

                                                   cast  \
0     [{'cast_id': 4, 'character': 'Lou', 'credit_id...
1     [{'cast_id': 1, 'character': 'Mia Thermopolis'...
2     [{'cast_id': 5, 'character': 'Andrew Neimann',...
3     [{'cast_id': 1, 'character': 'Vidya Bagchi', '...
4     [{'cast_id': 3, 'character': 'Chun-soo', 'cred...
...                                                 ...
2995  [{'cast_id': 2, 'character': 'Rock Reilly', 'c...
2996  [{'cast_id': 5, 'character': 'Bobo', 'credit_i...
2997  [{'cast_id': 10, 'character': 'Samantha Caine ...
2998  [{'cast_id': 8, 'character': 'Reuben Feffer', ...
2999  [{'cast_id': 2, 'character': 'Nathan Harper', ...

                                                   crew    revenue
0     [{'credit_id': '59ac067c92514107af02c8c8', 'de...   12314651
1     [{'credit_id': '52fe43fe9251416c7502563d', 'de...   95149435
2     [{'credit_id': '54d5356ec3a3683ba0000039', 'de...   13092000
3     [{'credit_id': '52fe48779251416c9108d6eb', 'de...   16000000
4     [{'credit_id': '52fe464b9251416c75073b43', 'de...    3923970
...                                                 ...        ...
2995  [{'credit_id': '52fe4494c3a368484e02ac7d', 'de...    1596687
2996  [{'credit_id': '5716b72ac3a3686678012c84', 'de...     180590
2997  [{'credit_id': '52fe443a9251416c7502d579', 'de...   89456761
2998  [{'credit_id': '556f817b9251410866000a63', 'de...  171963386
2999  [{'credit_id': '5391990d0e0a260fb5001629', 'de...   82087155

[3000 rows x 23 columns]>

In [8]:
data.describe(include = 'object')

,belongs_to_collection,genres,homepage,imdb_id,original_language,original_title,overview,poster_path,production_companies,production_countries,release_date,spoken_languages,status,tagline,title,Keywords,cast,crew
count,604,2993,946,3000,3000,3000,2992,2999,2844,2945,3000,2980,3000,2403,3000,2724,2987,2984
unique,422,872,941,3000,36,2975,2992,2999,2383,321,2398,401,2,2400,2969,2648,2975,2984
top,"[{'id': 645, 'name': 'James Bond Collection', ...","[{'id': 18, 'name': 'Drama'}]",http://www.transformersmovie.com/,tt2637294,en,Joshua,"When Lou, who has become the ""father of the In...",/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,"[{'name': 'Paramount Pictures', 'id': 4}]","[{'iso_3166_1': 'US', 'name': 'United States o...",9/10/10,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Based on a true story.,The Magnificent Seven,"[{'id': 10183, 'name': 'independent film'}]",[],"[{'credit_id': '59ac067c92514107af02c8c8', 'de..."
freq,16,266,4,1,2575,2,1,1,51,1752,5,1817,2996,3,2,27,13,1

In [10]:
duplicateRows = data[data.duplicated('budget')]

In [13]:
duplicateRows

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
6,7,NaN,14000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://www.thepossessionmovie.com/,tt0431021,en,The Possession,A young girl buys an antique box at a yard sal...,7.286477,...,8/30/12,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fear The Demon That Doesn't Fear God,The Possession,NaN,"[{'cast_id': 23, 'character': 'Clyde', 'credit...","[{'credit_id': '52fe4981c3a368484e12ee29', 'de...",85446075
7,8,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,tt0391024,en,Control Room,A chronicle which provides a rare window into ...,1.949044,...,1/15/04,84.0,"[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...",Released,Different channels. Different truths.,Control Room,"[{'id': 917, 'name': 'journalism'}, {'id': 163...","[{'cast_id': 2, 'character': 'Himself', 'credi...","[{'credit_id': '52fe47a69251416c750a0daf', 'de...",2586511
8,9,"[{'id': 256377, 'name': 'The Muppet Collection...",0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,tt0117110,en,Muppet Treasure Island,After telling the story of Flint's last journe...,6.902423,...,2/16/96,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Set sail for Muppet mayhem!,Muppet Treasure Island,"[{'id': 2041, 'name': 'island'}, {'id': 4418, ...","[{'cast_id': 1, 'character': 'Long John Silver...","[{'credit_id': '52fe43c89251416c7501deb3', 'de...",34327391
11,12,"[{'id': 48190, 'name': 'Revenge of the Nerds C...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0093857,en,Revenge of the Nerds II: Nerds in Paradise,The members of the Lambda Lambda Lambda frater...,10.543750,...,7/10/87,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They're Back!,Revenge of the Nerds II: Nerds in Paradise,"[{'id': 5801, 'name': 'nerd'}, {'id': 6876, 'n...","[{'cast_id': 2, 'character': 'Lewis Skolnick',...","[{'credit_id': '52fe46f49251416c750891e9', 'de...",22642033
17,18,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt1700845,en,The Invisible Woman,"In 1857, at the height of his fame and fortune...",4.183558,...,12/25/13,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,His greatest story was the one he could never ...,The Invisible Woman,"[{'id': 5565, 'name': 'biography'}, {'id': 180...","[{'cast_id': 7, 'character': 'Charles Dickens'...","[{'credit_id': '53b94a260e0a2676c7009b37', 'de...",1234254
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,4/22/94,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,3/28/13,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,10/11/96,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,1/16/04,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,9/22/11,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155

In [14]:
data.head

<bound method NDFrame.head of         id                              belongs_to_collection    budget  \
0        1  [{'id': 313576, 'name': 'Hot Tub Time Machine ...  14000000
1        2  [{'id': 107674, 'name': 'The Princess Diaries ...  40000000
2        3                                                NaN   3300000
3        4                                                NaN   1200000
4        5                                                NaN         0
...    ...                                                ...       ...
2995  2996                                                NaN         0
2996  2997                                                NaN         0
2997  2998                                                NaN  65000000
2998  2999                                                NaN  42000000
2999  3000                                                NaN  35000000

                                                 genres  \
0                        [{'id': 35, 'name': 'Comedy'}]
1     [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
2                         [{'id': 18, 'name': 'Drama'}]
3     [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...
4     [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
...                                                 ...
2995  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
2996  [{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...
2997  [{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...
2998  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
2999  [{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...

                               homepage    imdb_id original_language  \
0                                   NaN  tt2637294                en
1                                   NaN  tt0368933                en
2     http://sonyclassics.com/whiplash/  tt2582802                en
3            http://kahaanithefilm.com/  tt1821480                hi
4                                   NaN  tt1380152                ko
...                                 ...        ...               ...
2995                                NaN  tt0109403                en
2996                                NaN  tt2364975                sv
2997                                NaN  tt0116908                en
2998     http://www.alongcamepolly.com/  tt0343135                en
2999   http://www.abductionthefilm.com/  tt1600195                en

                                original_title  \
0                       Hot Tub Time Machine 2
1     The Princess Diaries 2: Royal Engagement
2                                     Whiplash
3                                      Kahaani
4                                         마린보이
...                                        ...
2995                                   Chasers
2996                               Vi är bäst!
2997                   The Long Kiss Goodnight
2998                          Along Came Polly
2999                                 Abduction

                                               overview  popularity  ...  \
0     When Lou, who has become the "father of the In...    6.575393  ...
1     Mia Thermopolis is now a college graduate and ...    8.248895  ...
2     Under the direction of a ruthless instructor, ...   64.299990  ...
3     Vidya Bagchi (Vidya Balan) arrives in Kolkata ...    3.174936  ...
4     Marine Boy is the story of a former national s...    1.148070  ...
...                                                 ...         ...  ...
2995  Military men Rock Reilly and Eddie Devane are ...    9.853270  ...
2996  Three girls in 1980s Stockholm decide to form ...    3.727996  ...
2997  Samantha Caine, suburban homemaker, is the ide...   14.482345  ...
2998  Reuben Feffer is a guy who's spent his entire ...   15.725542  ...
2999  A young man sets out to uncover the truth abou...   10.512109  ...

     release_date runtime                                   spoken_languages  \
0         2/20/15    93.0           [{'iso_639_1': 'en', 'name': 'English'}]
1          8/6/04   113.0           [{'iso_639_1': 'en', 'name': 'English'}]
2        10/10/14   105.0           [{'iso_639_1': 'en', 'name': 'English'}]
3          3/9/12   122.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
4          2/5/09   118.0           [{'iso_639_1': 'ko', 'name': '한국어/조선말'}]
...           ...     ...                                                ...
2995      4/22/94   102.0           [{'iso_639_1': 'en', 'name': 'English'}]
2996      3/28/13   102.0           [{'iso_639_1': 'sv', 'name': 'svenska'}]
2997     10/11/96   120.0           [{'iso_639_1': 'en', 'name': 'English'}]
2998      1/16/04    90.0           [{'iso_639_1': 'en', 'name': 'English'}]
2999      9/22/11   106.0           [{'iso_639_1': 'en', 'name': 'English'}]

        status                                            tagline  \
0     Released  The Laws of Space and Time are About to be Vio...
1     Released  It can take a lifetime to find true love; she'...
2     Released    The road to greatness can take you to the edge.
3     Released                                                NaN
4     Released                                                NaN
...        ...                                                ...
2995  Released  It was supposed to be a routine prisoner trans...
2996  Released                                                NaN
2997  Released               What's forgotten is not always gone.
2998  Released  For the most cautious man on Earth, life is ab...
2999  Released          They stole his life. He's taking it back.

                                         title  \
0                       Hot Tub Time Machine 2
1     The Princess Diaries 2: Royal Engagement
2                                     Whiplash
3                                      Kahaani
4                                   Marine Boy
...                                        ...
2995                                   Chasers
2996                          We Are the Best!
2997                   The Long Kiss Goodnight
2998                          Along Came Polly
2999                                 Abduction

                                               Keywords  \
0     [{'id': 4379, 'name': 'time travel'}, {'id': 9...
1     [{'id': 2505, 'name': 'coronation'}, {'id': 42...
2     [{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...
3     [{'id': 10092, 'name': 'mystery'}, {'id': 1054...
4                                                   NaN
...                                                 ...
2995  [{'id': 378, 'name': 'prison'}, {'id': 572, 'n...
2996  [{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...
2997  [{'id': 441, 'name': 'assassination'}, {'id': ...
2998  [{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...
2999  [{'id': 591, 'name': 'cia'}, {'id': 822, 'name...

                                                   cast  \
0     [{'cast_id': 4, 'character': 'Lou', 'credit_id...
1     [{'cast_id': 1, 'character': 'Mia Thermopolis'...
2     [{'cast_id': 5, 'character': 'Andrew Neimann',...
3     [{'cast_id': 1, 'character': 'Vidya Bagchi', '...
4     [{'cast_id': 3, 'character': 'Chun-soo', 'cred...
...                                                 ...
2995  [{'cast_id': 2, 'character': 'Rock Reilly', 'c...
2996  [{'cast_id': 5, 'character': 'Bobo', 'credit_i...
2997  [{'cast_id': 10, 'character': 'Samantha Caine ...
2998  [{'cast_id': 8, 'character': 'Reuben Feffer', ...
2999  [{'cast_id': 2, 'character': 'Nathan Harper', ...

                                                   crew    revenue
0     [{'credit_id': '59ac067c92514107af02c8c8', 'de...   12314651
1     [{'credit_id': '52fe43fe9251416c7502563d', 'de...   95149435
2     [{'credit_id': '54d5356ec3a3683ba0000039', 'de...   13092000
3     [{'credit_id': '52fe48779251416c9108d6eb', 'de...   16000000
4     [{'credit_id': '52fe464b9251416c75073b43', 'de...    3923970
...                                                 ...        ...
2995  [{'credit_id': '52fe4494c3a368484e02ac7d', 'de...    1596687
2996  [{'credit_id': '5716b72ac3a3686678012c84', 'de...     180590
2997  [{'credit_id': '52fe443a9251416c7502d579', 'de...   89456761
2998  [{'credit_id': '556f817b9251410866000a63', 'de...  171963386
2999  [{'credit_id': '5391990d0e0a260fb5001629', 'de...   82087155

[3000 rows x 23 columns]>